---
import { getCollection } from "astro:content";
import AsideLayout from "@/layouts/AsideLayout.astro";
import type { InferGetStaticParamsType } from "astro";
import FullscreenSliderWThumbs from "../../sections/SectSliderWThumbs.svelte";
import ModalTrigger from "../../components/ModalTrigger.svelte";

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

export async function getStaticPaths() {
  const collection = await getCollection("publishing");
  const paths = collection.map((category) => ({
    params: {
      slug: category.slug.split("/")[1],
    },
    props: { collection },
  }));

  return paths;
}

const { slug } = Astro.params as Params;
const { collection } = Astro.props;

const links = collection
  .sort((a, b) => a.data.order - b.data.order)
  .map(({ data: { title }, slug, collection }) => ({
    text: title,
    href: `/${collection}/${slug.split("/")[1]}`,
  }));

const category = collection.find(
  ({ slug: currSlug }) => currSlug.split("/")[1] === slug,
);
---

<AsideLayout
  title={`Издательство | ${category?.data.title} `}
  links={links}
  markdown={category?.body}
>
  <Fragment slot="before">
    <h1>{category?.data.title}</h1>
  </Fragment>
  <Fragment slot="after">
    <ModalTrigger
      client:visible
      type={category?.collection}
      variant="contrast"
      flexPosition="start"
      slug={category?.slug}
    >
      Заказать
    </ModalTrigger>
  </Fragment>
</AsideLayout>
