---
import { getCollection } from "astro:content";
import AsideLayout from "@/layouts/AsideLayout.astro";
import type { InferGetStaticParamsType } from "astro";
import ModalTrigger from "../../components/ModalTrigger.svelte";
import { publishingLinks } from "../../store/publishing";
import PublishingModalForm from "../../components/PublishingModalForm.svelte";

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

export async function getStaticPaths() {
  const publishing = await getCollection("publishing");
  const paths = publishing.map((category) => ({
    params: {
      slug: category.slug.split("/")[1],
    },
    props: { publishing },
  }));

  return paths;
}

const { slug } = Astro.params as Params;
const { publishing } = Astro.props;

const category = publishing.find(
  ({ slug: currSlug }) => currSlug.split("/")[1] === slug,
);
---

<AsideLayout
  title={`Издательство | ${category?.data.title} `}
  links={publishingLinks}
  markdown={category?.body}
>
  <Fragment slot="before">
    <h1>{category?.data.title}</h1>
  </Fragment>
  <Fragment slot="after">
    <ModalTrigger
      client:visible
      type={category?.collection}
      variant="contrast"
      flexPosition="start"
      slug={category?.slug}
    >
      Заказать
    </ModalTrigger>
  </Fragment>
</AsideLayout>

<PublishingModalForm client:load />
